.login-form {
    width: 40%;
    height: max-content;
    border: 0.1px solid gray;
    margin: 50px auto;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;

    .input-form {
        margin-bottom: 20px;
    }
}